In [1]:
import pandas as pd

In [2]:
# Read CSV
alabama = pd.read_csv("../Data/States/Alabama.csv")

In [3]:
# Set Age (AGEP) as index
alabama = alabama.set_index("Age (AGEP)")
alabama

,Total,N/A (person less than 1 year old/lived in same house 1 year ago),Alabama/AL,Alaska/AK,Arizona/AZ,Arkansas/AR,California/CA,Colorado/CO,Connecticut/CT,Delaware/DE,...,"South America, Not Specified",Egypt,Ethiopia (2017 or later),Kenya (2017 or later),Nigeria,"Western Africa, Not Specified","Northern Africa or Other Africa, Not Specified","Eastern Africa, Not Specified",Australia,"Other US Island Areas, Oceania, Not Specified, or At Sea"
Age (AGEP),,,,,,,,,,,,,,,,,,,,,
-> Total,2691147,2371295,253611,429,868,859,1674,983,393,64,...,162,36,0,12,105,0,69,103,109,128
-> Total ->,2691147,2371295,253611,429,868,859,1674,983,393,64,...,162,36,0,12,105,0,69,103,109,128
Total 12th grade - no diploma,57402,50165,5807,0,4,0,63,9,99,0,...,0,0,0,0,0,0,0,0,0,0
25 years Total 12th grade - no diploma,1193,933,191,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26 years Total 12th grade - no diploma,1700,1364,287,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71 years Total Doctorate degree,722,722,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72 years Total Doctorate degree,577,573,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73 years Total Doctorate degree,572,564,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74 years Total Doctorate degree,496,486,0,0,0,0,0,10,0,0,...,0,0,0,0,0,0,0,0,0,0
75 years Total Doctorate degree,475,415,45,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Transpose to switch rows with columns
alabama_df = alabama.T

In [5]:
# Add "To_State" so that each origin state on far left shows which state they moved to on far right
# Makes data multi-dimensional

alabama_df["To_State"] = "Alabama"

In [6]:
# Code for one state
alabama = pd.read_csv("../Data/States/Alabama.csv").set_index("Age (AGEP)").T
alabama["To_State"] = "Alabama"
alabama

Age (AGEP),-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,2691147,2691147,57402,1193,1700,1196,1184,1936,1845,1447,...,602,510,586,725,722,577,572,496,475,Alabama
N/A (person less than 1 year old/lived in same house 1 year ago),2371295,2371295,50165,933,1364,969,1052,1661,1580,1108,...,570,508,584,694,722,573,564,486,415,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Northern Africa or Other Africa, Not Specified",69,69,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Eastern Africa, Not Specified",103,103,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Australia,109,109,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
"Other US Island Areas, Oceania, Not Specified, or At Sea",128,128,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama

In [7]:
# All states in Data folder
states_list = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", \
               "Delaware", "District_of_Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", \
              "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", \
              "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New_Hampshire", \
              "New_Jersey", "New_Mexico", "New_York", "North_Carolina", "North_Dakota", "Ohio", "Oklahoma", "Oregon", \
              "Pennsylvania", "Rhode_Island", "South_Carolina", "South_Dakota", "Tennessee", "Texas", "Utah", \
              "Vermont", "Virginia", "Washington", "West_Virginia", "Wisconsin", "Wyoming"]

# Dictionary to hold state name as key, dataframe as value
dict_state = {}

# For loop to iterate through all states to shape data
for state in states_list:
    df = pd.read_csv(f'../Data/States/{state}.csv').rename(columns = {"Age (AGEP)":"Origin"}).set_index("Origin").T
    df["To_State"] = f'{state}'
    dict_state[state] = df

In [8]:
# Can call any state dataframe when using state name as dictionary key
dict_state["South_Dakota"]

Origin,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,487569,487569,6476,182,358,94,289,20,67,257,...,92,150,122,116,60,79,72,100,144,South_Dakota
N/A (person less than 1 year old/lived in same house 1 year ago),426191,426191,5543,132,191,83,280,0,44,222,...,92,150,122,116,60,79,72,100,101,South_Dakota
Alabama/AL,173,173,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
Alaska/AK,29,29,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
Arizona/AZ,187,187,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
"Northern Africa or Other Africa, Not Specified",13,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
"Eastern Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota
"Other US Island Areas, Oceania, Not Specified, or At Sea",27,27,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,South_Dakota

In [10]:
# Concat all dataframes stored in dict_state and save as "all_states_df"
all_states_df = pd.concat(dict_state.values(), ignore_index=False)

all_states_df

Origin,-> Total,-> Total ->,Total 12th grade - no diploma,25 years Total 12th grade - no diploma,26 years Total 12th grade - no diploma,27 years Total 12th grade - no diploma,28 years Total 12th grade - no diploma,29 years Total 12th grade - no diploma,30 years Total 12th grade - no diploma,31 years Total 12th grade - no diploma,...,67 years Total Doctorate degree,68 years Total Doctorate degree,69 years Total Doctorate degree,70 years Total Doctorate degree,71 years Total Doctorate degree,72 years Total Doctorate degree,73 years Total Doctorate degree,74 years Total Doctorate degree,75 years Total Doctorate degree,To_State
Total,2691147,2691147,57402,1193,1700,1196,1184,1936,1845,1447,...,602,510,586,725,722,577,572,496,475,Alabama
N/A (person less than 1 year old/lived in same house 1 year ago),2371295,2371295,50165,933,1364,969,1052,1661,1580,1108,...,570,508,584,694,722,573,564,486,415,Alabama
Alabama/AL,253611,253611,5807,191,287,227,125,163,178,231,...,13,2,0,31,0,4,8,0,45,Alabama
Alaska/AK,429,429,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
Arizona/AZ,868,868,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Western Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
"Northern Africa or Other Africa, Not Specified",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
"Eastern Africa, Not Specified",54,54,54,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
Australia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming
"Other US Island Areas, Oceania, Not Specified, or At Sea",14,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Wyoming